@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
@layer components{
  .campaign-list{
    @apply flex flex-col gap-4 lg:gap-6
  }
  .page-title{
    @apply text-xl font-semibold
  }
  .active-tab{
    @apply bg-subtle text-primary
  }
}
